.brand-model-modal {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.brand-model-modal .inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
  justify-content: space-between;
}

.brand-model-modal .btns-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
  justify-content: space-between;
}