.finish-parking-tab {
  min-width: 324px;

  position: absolute;
  right: -49%;
  top: 0px; 

  border: 1px solid black;

	border-radius: 8px;
  overflow: hidden;

  background-color: white;
}

.finish-parking-header {
  padding: 4px 16px;
  padding-bottom: 8px;
  background-color: #4A87E8;
  color: white;
}

.finish-parking-header .fp-title {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.finish-parking-header .fp-close {
  position: absolute;
  right: 8px;
  top: 12px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
  border-radius: 8px;

  color: #fff;
  background-color: #C2292E;

  cursor: pointer;
}

.finish-parking-header .fp-header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.additional-discount-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  font-size: 12px;
}

.additional-discount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-size: 12px;

  border-color: white;

  background-color: unset;
  color: white;
}

.additional-discount::placeholder {
  color: white;
  opacity: 0.5;
}

.additional-discount:focus {
  outline: none;
  box-shadow: none;
}

.finish-parking-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;

  padding: 8px 16px;
}

.fp-prices-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fp-price-wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: start;

  font-size: 16px;
}

.fp-price-discount {
  color: #C2292E;
}

.fp-price-total-wrapper {
  width: fit-content;

  border-top: 1.4px solid black;
  margin-top: 4px;
  padding-top: 4px;

  font-size: 18px;
}

.finish-parking-footer {
  display: flex;
  justify-content: end;
  padding: 8px 16px;
  border-top: 3px dashed #00000050;
}