.parking-service-modal {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.parking-service-modal .inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
  justify-content: space-between;
}

.parking-service-modal .btns-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.parking-service-modal .client-inputs-wrapper {
  width: 100%;
  border-top: 1.25px solid black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
  justify-content: start;

  padding-top: 16px;
}

/* CLIENT OPEN */
.client-open-modal {
  transform: translate(0, -20px);
}

/* FINISH OPEN */
.finish-service-open-modal {
  transform: translate(-22.5%, -20px);
}